body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin: auto;
    line-height: 1.6;
}
h1, h2 {
    text-align: center;
    margin-bottom: 5px;
}
h3 {
    text-align: center;
    font-weight: normal;
    margin-top: 0;
}
h4 {
    border-bottom: 1px solid #000;
    margin-top: 25px;
}
ul {
    margin-top: 5px;
}